
.btn-collapse {
    font-size: 0.75rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    background-color: #fff;
    outline: none;
    border: none;
    border-bottom: 1px solid #fafafa;
    padding: 1.25rem 1rem 1.25rem 0;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-collapse {
    /* height: 0; */
    position: relative;
    overflow: hidden;
    transition: all .3s ease-in-out;
} 

.list-collapse.active { 
    /* height: 100%; */
}

