#hero {
    width:100%;
    height: 100%;
    position: relative;
    z-index: 0;
}

.hero.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    overflow-x: hidden;
}

/* *********************************** TYPOGRAPHY ********************************* */ 
.hero__content-title {
    margin: 1.4rem 0;
    color: #fff;
    font-size: 1.5rem;
}

.hero__content-text {
    margin: 1.4rem 0;
    color: #fff;
    /* width: 50%; */
    width: 80%;
    font-size: 1rem;
}

.btn {
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1rem 2.5rem;
}

.btn-light {
    background-color: #fff;
    border: none;
    position: relative;
    z-index: 10;
    overflow: hidden;
    transition: all 0s ease-in .25s;
}

.btn-light:hover, .btn-light:focus {
    color: #fff;
}

.btn-light::after {
    content: '';
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    width: 400px;
    height: 600px;
    position: absolute;;
    z-index: -1;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%) skew(45deg);
    transition: all 0.5s ease-in-out;
}

.btn-light:hover::after , .btn-light:focus::after{
    transform: translateX(50%) skew(45deg);
}

/* *********************************** LAYOUT ********************************* */ 

.hero {
    background-color: tomato;
    max-height: 800px;
    min-height: calc(100vh - 75px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    /* align-items: flex-end; */
    display: flex;
}

.hero__content {
    display: inline-block;
    width: 100%;
    text-align: left;
    margin-bottom: 4rem;
    margin-left: 1rem;
}

@media screen and (min-width : 768px) { /* stylelint-disable-line css-rparentexpected */
    .hero {
        justify-content: center;
        align-items: flex-end;
    }

    .hero__content {
        width: 50%;
        margin-left: 3rem;
    }

    .hero__content-title {
        font-size: 2rem;
    }

    .hero__content-text {
        width: 50%;
        font-size: 1.25rem;
        margin-left: 0;
    }
}
